<ion-header>
  <ion-toolbar>
    <ion-title>
      UHF Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>UHF Test</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button style="width:100px;height:50px" (click)="openDev()">上电</ion-button>
  <ion-button style="width:100px;height:50px" (click)="closeDev()">下电</ion-button>
  <ion-button style="width:100px;height:50px" (click)="readArea()">读卡</ion-button>
  <ion-button style="width:100px;height:50px" (click)="writeArea()">写卡</ion-button>
  <ion-button style="width:100px;height:50px" (click)="inventoryStart()">开始盘点</ion-button>
  <ion-button style="width:100px;height:50px" (click)="inventoryStop()">停止盘点</ion-button>
  <ion-button style="width:100px;height:50px" (click)="setAntennaPower()">设置天线功率</ion-button>
  <ion-button style="width:100px;height:50px" (click)="getAntennaPower()">获取天线功率</ion-button>
  <ion-button style="width:100px;height:50px" (click)="setFreqRegion()">设置频率区域</ion-button>
  <ion-button style="width:100px;height:50px" (click)="getFreqRegion()">获取频率区域</ion-button>
  <ion-button style="width:100px;height:50px" (click)="setQueryTagGroup()">设置通话项</ion-button>
  <ion-button style="width:100px;height:50px" (click)="getQueryTagGroup()">获取通话项</ion-button>
  <ion-button style="width:100px;height:50px" (click)="clean()">清空内容</ion-button>
  <p>
    <ion-text id="content">
      显示内容区域
    </ion-text>
  </p>

</ion-content>